
/*
layout contains styles for different aspects of the site's structural layout (think of areas like nav bars, headers, footers, etc.)
*/

 /* admin-form ise form-content in icinde...*/
      .admin-form {
        width: 100%;
      }

      .happeningformRow {
        width: 100%;
        margin-bottom: 1rem;
      }

      .formLabel {
        font-weight: bold;
        font-size: 0.9rem;
        margin: 0.3rem 0;
        display: flex; 
        
      }

      .labelText{
        margin-bottom: .4rem;
        
      }

     
      .formLabelAnnounce{
        font-weight: bold;
        font-size: 0.9rem;
        color: $primary-font-color;
        display: flex;
      }
      .requiredStar {
        color: red;
        font-size: 1rem;
      }

      .happeningDate {
        @include flexCenter(row,flex-start);

      }

    .happeningDateSection {
      width: 30%;  
      }

      @media screen and (max-width: 1200px) {
        .happeningDateSection {
          width: 44%;  
          }
      }
      .happeningDateInput {
        display: block;
        box-sizing: border-box;
        margin-top:-.08rem; 
      
      }

     
      .date-margin{
        margin: 0.4rem 1rem;
      }
      .spantext {
        font-size: 0.9rem;
        color: $primary-font-color;
  
      }
      .payment-margin {
        margin: 0.4rem 0;
      }

      .description {
        min-height: 8rem;
        text-align: left;
      }
     
      .input-top-mrgn{
        margin-top:-.4rem;
      }
 
     
       .paymentTypeContainer {
        @include flexCenter(row,flex-start);
         
    
       }
       .paymentType {
        
        @include flexCenter();
         
       }
 
       .payTypeInput {
         display: inline-block;
         width: 1.3rem;
         height: 1rem;
         margin-top:-.01rem;
       }

       textarea,input[type="datetime-local"]{
        font-family: sans-serif;
       }