/*
Components
Alip baska bir yerde de kullanmayi dusundugumuz yapilar
site_log,title,btn,carosel,slider,hazir yapilar olup da tekrar tekrar kullanabilecegimiz yapilardir
Component olarak tuttugumuz yapilarimiz olan carosel, slider,card,icon,button,title gibi belli kalip olarak tutacagimiz elemanlara ait scss kodlarini burda tutup bunlari biz farkli projelerimizde de kullanabiliriz…
components are like "mini" layouts. Styles for small, reusable pieces of the site should reside here (think buttons, forms, profile pictures, etc.)
*/



.btnUserPage {
    
    line-height: 1.2857em;
    font-weight: 700;
    border: none;
    font-size: 1rem;
    font-family: "Source Sans Pro", sans-serif;
    cursor: pointer;
    color:#fff;
    background-color: rgb(255, 102, 0);
    border-radius: 0.4rem;
    border: 1px solid;
    padding: .46rem;
  }
  
 

  .btnUserPage:hover{
color:rgb(255, 102, 0) ;
background-color: #fff;
  }

  .form-element, .form-date {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0.375rem 0;
    padding-left: 0.3rem;
    font-size: 0.8rem;
    color: $primary-font-color;
    background-color: #fff;
    background-clip: padding-box;
    border: .07rem solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s;
  }


  
  .errorValidationMessage {
    font-size: 0.8rem;
    color: red;
    
  }
  /*success icon*/

  .icon-checkmark:before {
    content: "\ea10";
    color: green;
    margin-left: 0.3rem;
    margin-top: 0.1rem;
  }

  
  .errorStyle {
    border: .07rem solid red;
  }

  .successStyle {
    border: .07rem solid green;
  }


  .form-element:hover  {
    color: #495057;/*form element yazisi kalinlasiyor yani darklasiyor uzerine gelince*/
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
  }
  .form-element:focus {
    color: #495057;/*focus olunca da yazi darklasiyor...*/
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0 ,123,255,.25);


  }
/* hover i incele form-date i mi yoksa digerini mi devreden cikaracaz*/
  .form-date:hover {
    color: #495057;/*renk darklasiyor*/
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
  }
  .form-date:focus {
    color: #495057;/*renk darklasiyor*/
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0 ,123,255,.25);
  }

  .submitBtn {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

  .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .btn-primary {
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
  .btn-primary:hover {
    cursor: pointer;
    color: #fff;
    background-color:$secondary-color-dark ;
    border-color: $secondary-color-dark;
  }



/* ErrorAlert Message -$secondary-color-dark  #0069d9*/     


.alert {
box-sizing: border-box;
width: 50%;
margin: 3rem auto;
padding: 10px;
position: relative;
border-radius: 5px;
box-shadow: 0 0 15px 5px #ccc;
text-align: center;
}


.close {
position: absolute;
width: 30px;
height: 30px;
opacity: 0.5;
border-width: .08rem;
border-style: solid;
border-radius: 50%;
right: 1rem;
top: 1.5rem;
text-align: center;
font-size: 1.6rem;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
background-color:rgb(210, 118, 223);
color:darkblue;
font-weight: 700;
font-size: 2rem;


}
/* islemler bitince danger kismini sil... */

@media screen and (max-width: 600px) {
  .alert {
    box-sizing: border-box;
    width: 80%;
    margin: 3rem auto;
padding: .4rem;
position: relative;
border-radius: .4rem;
box-shadow: 0 0 15px 5px #ccc;
text-align: center;

  
    }


    .close {
      opacity: 1;
      right: 1rem;
      top: .5rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color:rgb(210, 118, 223);
      color:darkblue;
      font-weight: 500;
      font-size: 1rem;
      margin-left: 1rem;
      }
}
.error-alert {
background-color: #f7a7a3;
border: 1px solid;
padding: 2rem 0;
font-size: .8rem;

}


/* .error-alert .close {
border-color: #8f130c;
color: #8f130c;
} */

.success-alert {
background-color: #a8f0c6;
border: 1px solid;
padding: 2rem 0;
font-size: .8rem;

}
/* .success-alert .close*/

.close:hover {
color:red;
background-color: darkblue;
}

.alert-message {
width: 100%;
position: fixed;
top: -2rem;
}
