
@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

* {
  margin:0;
  padding: 0;
    font-family: "Roboto", sans-serif;
   /* font-size: 1rem;Bu yazi boyutu en buyuk ekranda oloacak, burasi sliderin boyutunu buyutuyor..icinde var olan font dan dolayidir muhtemelen*/
  /*Buraya font-size 1.4 rem verince biz artik bu projede 1 rem 1.4 rem olarak kullanilacak demektir...o yuzden burasi cook onemlidir dikkat edlim..*/
  }
/*1700 px or larger*/
